<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v6.0" sku=".NETFramework,Version=v6.0.0"/>
	</startup>
	<connectionStrings>
		<add name="CC" connectionString="Server=localhost;Database=teste;User Id=root;Password=arlabs2022;"/>
	</connectionStrings>
</configuration>